.update {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100vw;
  height: auto;
  max-width: 768px;
}

form button {
  background: #7c3aed;
  width: 100%;
  height: 30px;
  cursor: pointer;
  margin: 25px 0 10px 0;
  color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
